
<h2><%= art["name"] %></h2>

<img class="show-art-img" src="<%= art["image_url"] %>" alt="<%= art["name"] %>" >

<form action="/arts/<%= art['id'] %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button class="remove-btn">remove</button>
</form>

<a href="/arts/<%= art['id']%>/edit">edit</a>